<h1>Welcome to SongwALL</h1>

<% if @songs && @songs.any? %>
  <div>
    <h2>Most popular songs:</h2>
    <ol>
      <% @songs.each do |song| %>
        <li><%="#{song.author} - #{song.title} - #{song.url} posted by #{song.user.username}" %> 
          <%if @current_user %>
            <form style="display: inline"method='get' action='/liked_song'>
              <input type='submit' value='like' class="btn btn-default btn-xs" />
              <input type='hidden' name='liked_song' value='<%= song.id %>'/>
            </form>
          <% end %>
        </li>
      <% end %>
    </ol>
  </div>
<% end %>

<% if @current_user %>
  <a href="/add_song"><h2  class="btn btn-primary btn-lg">Add your songs here!</h2></a> 
<% end %>
<% if !@current_user %>
  <a href="/signup"><h2  class="btn btn-primary btn-lg">Click here to SignUp and post your songs here!</h2></a> 
<% end %>