<h1>Welcome to SongwALL</h1>

<% if @songs && @songs.any? %>
  <div>
    <h2>Most popular songs:</h2>
    <ol>
      <% @songs.each do |song| %>
        <li> <a href="/song/<%= song.id %>"><%="#{song.author} - #{song.title} #{song.url}"%></a>
          <%if @current_user && !Vote.where(user_id: @current_user.id).where(song_id: song.id).any?%>
            <form style="display: inline"method='get' action='/vote_song'>
              <input type='submit' value='vote!' class="btn btn-default btn-xs" />
              <input type='hidden' name='vote' value='<%= song.id %>'/>
            </form>
          <% end %>
        </li>
      <% end %>
    </ol>
  </div>
<% end %>

<% if @current_user %>
  <a href="/add_song"><h2  class="btn btn-primary btn-lg">Add your songs here!</h2></a> 
<% end %>
<% if !@current_user %>
  <a href="/signup"><h2  class="btn btn-primary btn-lg">Click here to SignUp and post your songs here!</h2></a> 
<% end %>